<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hqu.lease.web.app.mapper.FacilityInfoMapper">

    <select id="listFacilityByRoomId" resultType="edu.hqu.lease.model.entity.FacilityInfo">
        SELECT
               fi.type,
               fi.name,
               fi.icon
        FROM `room_facility` rf
                 LEFT JOIN facility_info fi ON rf.facility_id = fi.id AND fi.is_deleted = 0 AND fi.type = 2
        WHERE rf.room_id = #{roomId}
          AND rf.is_deleted = 0
    </select>
</mapper>
